$main-color: #417505; /* dark-green */
$highlight-color: #579D07; /*brighter-green*/
$accent-color: #D9EFC1; /*light-green*/
$light-font-color: #4A4A4A;
$title-font: 'Righteous', cursive;
$main-font: 'Lato', sans-serif;

body {
  font-family: $main-font;
  color: $light-font-color;
  background: darken(white, 5%);
  margin: 50px;
}
h1 {
  text-align: center;
  color: $light-font-color;
}

#abs-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header-bar {
  display: flex;
  background: $main-color;
  justify-content: center;
  color: white;
  padding: 0.5em;
  font-weight: bold;
  font-family: $title-font;
  font-size: 2.2em;
}

#search {
  display: flex;
  background: white;
  justify-content: center;
  color: black;
  padding: 250px;
  // font-weight: bold;
  font-family: $main-font;
  font-size: 2.2em;
  flex-direction: column;
  align-items: center;
}

#search-button {
  background-color: $main-color;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font: inherit;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

#search-button:hover {
  background-color: lighten($main-color, 5%);
  color: white;
}

#searchbar {
  margin-bottom: 20px;
  padding: 20px;
  padding-left: 10px;
}

.spot-select {
  ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
}

.button-list {
  position: relative;
  top: 0;
  right: 0;
  padding-right: 50px;
  padding-top: 20px;

  #search-by {
    padding-top: 16px;
    font-weight: bolder;
    color: $main-color;
  }
}

#pd-button {
  background-color: $accent-color;
  border-radius: 2px;
  border: none;
  color: $main-color;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

#pd-button:hover {
  background-color: darken($accent-color, 10%);
}

.search-result {
  display: flex;
  background: white;
  justify-content: center;
  color: black;
  padding: 5px;
  font-family: $main-font;
  font-size: 2.2em;
  flex-direction: column;
  align-items: center;
}

.result-details {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 90%;
    height: 100%;
    font-size: 20px;
    border: solid 0.5px;
    border-color: $highlight-color;
    padding-bottom: 15px;
    padding-left: 0px;
    .address {
      background-color: $main-color;
      border: none;
      color: white;
      padding: 15px;
      text-align: left;
      text-decoration: none;
      font: inherit;
      font-size: 25px;
      // margin: 0px 2px;
    }
}

#nav-bar {
  margin: 0;
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $title-font;
  color: white;
  font-size: 2.2em;
  #right-align {
    display: flex;
    flex-flow: row nowrap;
  }
  #left-align {
    display: flex;
    flex-flow: row nowrap;
  }

  #nav-link {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: $main-font;
    span {
      font-size: 0.4em;
    }
    #fa-icon {
      color: white;
      font-size: 0.8em;
    }
    &:hover {
      background-color: $highlight-color;
    }
  }
}

#convo-preview {
  background-color: white;
  margin-right: 0.5em;
  border-bottom: 1px solid $accent-color;
  padding: 0.5em;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
  }
}
#convo-preview-active {
  background-color: $accent-color;
  margin-right: 0.5em;
  border-bottom: 1px solid $accent-color;
  padding: 0.5em;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
  }
}

#messages {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2em;
  h3 {
    font-family: $title-font;
    color: $main-color;
  }
  #conv-display {
    overflow-y: scroll;
    height: 70vh;
  }
  #conv-prev {
    flex-basis: 25%;
    border-right: 2px solid $main-color;
    margin-right: 1em;
    margin-left: 1em;
  }
  #full-conv {
    flex-grow: 2;
  }
  #message-bar {
    padding: 0.4em;
  }
}
#msg-input {
  width: 90%;
  padding: 0.5em;
  margin-right: 0.2em;
}
#send-btn {
  border: none;
  background-color: $main-color;
  color: white;
  border-radius: 5px;
  padding: 0.5em;
}

#right-msg {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-right: 1em;
}
#left-msg {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin-left: 1em;
}
#your-msg {
  background-color: $accent-color;
  width: auto;
  text-align: right;
  padding: 1em;
  border-radius: 20px;
  margin: 0.2em;
}
#others-msg {
  background-color: darken(white, 10%);
  text-align: left;
  padding: 1em;
  border-radius: 20px;
  margin: 0.2em;
}
#chat-with {
  font-size: 1.2em;
  color: $main-color;
}
#preview-msg {
  color: darken(white, 50%);
  margin-left: 0.3em;
}
#center-content {
  margin: 0 auto;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  h1 {
    font-family: $title-font;
    color: $main-color;
  }
  h2 {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 2em;
  }
  #spots-btn {
    border: none;
    background-color: $main-color;
    color: white;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 3px;
  }
}

#select-act {
  background-color: $accent-color;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 4px;
  padding-bottom: 2em;
  #sa-title {
    font-size: 2em;
    font-family: $title-font;
    color: $main-color;
  }
}

#spot-btn-div {
  margin: 2em;
}

#sign-in-renter {
  h1 {
    font-family: $title-font;
    color: $main-color;
  }
  input {
    padding: 0.5em;
    border-radius: 3px;
    border: none;
    margin: 0.2em;
  }
  input:focus {
    background-color: lighten($accent-color, 10%);
    outline: none;
  }
  button {
    border: none;
    border-radius: 3px;
    background-color: $main-color;
    padding: 0.5em;
    color: white;
  }
  span {
    margin: 1em;
    margin-top: 3em;
  }
  #sign-in-form {
    margin: 1em;
    display: flex;
    flex-flow: column nowrap;
  }
  #btn1 {
    font-size: 1.2em;
  }
  #box {
    background-color: $accent-color;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 3em;
    border-radius: 4px;
  }
}
