$main-color: #417505; /* dark-green */
$highlight-color: #579D07; /*brighter-green*/
$accent-color: #D9EFC1; /*light-green*/
$light-font-color: #4A4A4A;
$title-font: 'Righteous', cursive;
$main-font: 'Lato', sans-serif;

body {
  font-family: $main-font;
  color: $light-font-color;
  background: darken(white, 5%);
  margin: 50px;
}
h1 {
  text-align: center;
  color: $light-font-color;
}

#abs-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header-bar {
  display: flex;
  background: $main-color;
  justify-content: center;
  color: white;
  padding: 0.5em;
  font-weight: bold;
  font-family: $title-font;
  font-size: 2.2em;
}

#search {
  display: flex;
  background: white;
  justify-content: center;
  color: black;
  padding: 250px;
  // font-weight: bold;
  font-family: $main-font;
  font-size: 2.2em;
  flex-direction: column;
  align-items: center;
}

#search-button {
  background-color: $main-color;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font: inherit;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

#search-button:hover {
  background-color: lighten($main-color, 5%);
  color: white;
}

#searchbar {
  margin-bottom: 20px;
  padding: 20px;
  padding-left: 10px;
}

.spot-select {
  ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
}

.button-list {
  position: relative;
  top: 0;
  right: 0;
  padding-right: 50px;
  padding-top: 20px;

  #search-by {
    padding-top: 16px;
    font-weight: bolder;
    color: $main-color;
  }
}

#pd-button {
  background-color: $accent-color;
  border-radius: 2px;
  border: none;
  color: $main-color;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

#pd-button:hover {
  background-color: darken($accent-color, 10%);
}

.search-result {
  display: flex;
  background: white;
  justify-content: center;
  color: black;
  padding: 5px;
  font-family: $main-font;
  font-size: 2.2em;
  flex-direction: column;
  align-items: center;
}

.result-details {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 90%;
    height: 100%;
    font-size: 20px;
    border: solid 0.5px;
    border-color: $highlight-color;
    padding-bottom: 15px;
    padding-left: 0px;
    .address {
      background-color: $main-color;
      border: none;
      color: white;
      padding: 15px;
      text-align: left;
      text-decoration: none;
      font: inherit;
      font-size: 25px;
      // margin: 0px 2px;
    }
}

#nav-bar {
  margin: 0;
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $title-font;
  color: white;
  font-size: 2.2em;
  #right-align {
    display: flex;
    flex-flow: row nowrap;
  }

  #nav-link {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: $main-font;
    span {
      font-size: 0.4em;
    }
    #fa-icon {
      color: white;
      font-size: 0.8em;
    }
    &:hover {
      background-color: $highlight-color;
    }
  }
}

#convo-preview {
  background-color: $accent-color;
}
